[submodule "repo/vivado-library"]
	path = hw/repo/vivado-library
	url = https://github.com/Digilent/vivado-library.git
[submodule "digilent-vivado-scripts"]
	path = hw/scripts
	url = https://github.com/Digilent/digilent-vivado-scripts.git
[submodule "sw/digilent-vitis-scripts"]
	path = sw/scripts
	url = https://github.com/Digilent/digilent-vitis-scripts.git
